<form name="vm.form" ng-submit="vm.saveNew()" novalidate>
<formly-form model="vm.dayReport" fields="vm.fields"></formly-form>
<md-button class="md-raised md-primary" type="submit">Create!</md-button>
</form>
