div
  h1 Machines

  md-list
    md-list-item.md-2-line(ng-repeat="machine in vm.machines")
      div.md-list-item-text
        h3 {{machine.name}}

  md-button(ui-sref="newMachine" class="md-raised") New Machine
